.header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  border-bottom: solid lightgray 0.5px;

  .header-content {
    display: flex;
    justify-content: space-between;
    img {
      width: 5.5vw;
      height: 4vh;
    }
    .search {
      width: 40vw;
      //   border: solid red 1px;
      display: flex;
      background-color: #f5f6f7;
      align-items: center;
      .icon {
        color: #bcbcbc;
        margin-left: 0.5vw;
      }
      input {
        border: none;
        background-color: #f5f6f7;
        width: 35vw;
        margin-left: 0.5vw;
        outline: none;
      }
    }
    .log-buttons-cont {
      display: flex;
      gap: 0.5vw;
      .log-buttons {
        background-color: white;
        color: #007783;
        border: solid #007783 1px;
        border-radius: 5px;
        width: 9vw;
        height: 100%;
      }
    }
    .sell-header {
      background-color: #007783;
      color: white;
      border: none;
      border-radius: 5px;
      width: 9vw;
    }
  }
}
