@font-face {
  font-family: "Maison-Neue";
  src: url("./assets/fonts/FontsFree-Net-Maison-Neue-Book.ttf")
    format("truetype");
}

body {
  font-family: "Maison-Neue";
  // font-family: sans-serif;
  // input {
  //   font-family: "Maison-Neue";
  // }
}
.container {
  width: 90%;
  margin: auto;
  //   border: solid yellow 2px;
}
